:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #fff;
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100dvw;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

.form {
  display: flex;
  justify-content: center;
  gap: 9px;
  width: 371px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 32px;
}

.form label {
  flex-grow: 1;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  outline: transparent;
}

.form input:hover {
  border-color: #000;
}

.form>label:active>input,
input:focus {
  border-color: #4e75ff
}

button {
  display: block;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

#moreImgBtn {
  margin: 32px auto 0;
}

button:hover {
  background-color: #6c8cff;
}

.loading {
  position: fixed;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.loading-text {
  width: 256px;
  text-align: center;
  background-color: #fff;
  letter-spacing: 0.04em;
}

/* #region loader */
.loader {
  width: 175px;
  height: 80px;
  display: block;
  margin: 0 auto;
  background-image: radial-gradient(circle 25px at 25px 25px, #0cecda 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #0cecda 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #0cecda 100%, transparent 0), linear-gradient(#0cecda 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}

.loader::after {
  content: '';
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #FF3D00;
  box-sizing: border-box;
  animation: fadePush 1s linear infinite;
}

.loader::before {
  content: '';
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FF3D00;
  box-sizing: border-box;
  animation: fadePush 1s linear infinite;
}

@keyframes fadePush {
  0% {
    transform: translate(-50%, -15px);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
}

/* #endregion */

/* #region gallery */

.gallery {
  margin: 0 auto;
  /* width: 1128px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  background-color: transparent;
}

.gallery li {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  transition: transform 200ms ease-in-out;
  overflow: hidden;
  position: relative;
  /* width: calc((100% - 48px) / 3); */
}

.gallery li:hover {
  transform: scale(1.04);
}

.caption {
  width: 100%;
  height: 48px;
  padding: 4px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  text-align: center;
}

.caption th {
  width: 25%;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.caption td {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.basicLightbox {
  background-color: #2E2F42
}

/* #endregion gallery */

.hidden {
  display: none;
}

/* .iziToast>button.iziToast-close {
  background: url("/favicon.svg") no-repeat 50% 50%;
} */